#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  /* text-align: center; */
}

.card {
  padding: 1em;
}

#aboutHeader{
  padding: 0;
}

body{
  background-color: black !important;
}